body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #875882;
}

.container {
    width: 870px;
    height: 625px;
    margin: 100px auto;
}

.product {
    display: flex;
    height: 100%;

    &__photo-wrapper {
        display: flex;
        flex: 0 0 385px;
        justify-content: center;
        align-items: center;
        background-color: #f2e5de;
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
    }

    &__content {
        padding: 40px;
        background-color: #fff;
    }

    &__title {
        margin-bottom: 18px;
        font-size: 40px;
        font-weight: 400;
        color: #2d91a1;
    }

    &__product-rating {
        margin-bottom: 30px;
    }

    &__rating-stars {
        margin-right: 15px;
    }

    &__info {
        margin-bottom: 30px;
        padding-right: 40px;
    }

    &__info-line {
        display: flex;
        border-bottom: 1px solid #EBEBEB;
        padding: 5px 0;
    }

    &__info-label {
        color: #211f1f;
        font-size: 15px;
        font-weight: 700;
        width: 50%;
    }

    &__info-value {
        color: #676666;
        font-size: 15px;
    }

    &__price {
        margin-bottom: 30px;
    }

    &__price-current {
        color: #4493a0;
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__price-info {
        display: flex;
    }

    &__price-old {
        color: #252525;
        font-size: 15px;
        font-weight: 700;
        text-decoration: line-through;
        margin-right: 38px;
    }

    &__price-discount {
        color: #55a32a;
        font-size: 15px;
        font-weight: 400;
    }

    &__save-button {
        margin-right: 5px;
    }

    &__description {
        margin: 15px 0;
    }

    &__description-title {
        color: #211f1f;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
    }

    &__description-text {
        color: #676666;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.product-rating {
    display: flex;


    &__reviews-count {
        color: #afafaf;
        font-size: 15px;
        font-weight: 400;
        border-right: 1px solid #afafaf;
        padding-right: 15px;
    }

    &__write-review {
        text-decoration: none;
        color: #afafaf;
        font-size: 15px;
        font-weight: 400;
        padding-left: 15px;
    }
}

.rating-stars {
    display: flex;
    font-size: 15px;
    font-weight: 400;

    i.fas {
        color: #ffe404;
    }

    i.far {
        color: #afafaf;
    }
}

.btn {
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    padding: 20px 35px;
    border: none;
    background-color: grey;
    border-radius: 3px;
    box-sizing: border-box;

    &_green {
        background-color: #55a32a;
    }

    &_blue {
        background-color: #2d91a1;
    }

    &_upper {
        text-transform: uppercase;
    }

    &_large {
        min-width: 210px;
        text-align: center;
    }
}

.social {
    display: flex;

    &__link {
        width: 29px;
        height: 28px;
        border-radius: 50%;
        background-color: #e3e3e3;
        text-align: center;
        line-height: 28px;
        color: #000000;
        margin-right: 3px;
        font-size: 14px;
    }

    &__link:last-child {
        margin-right: 0;
    }

    &__link_fb {
        background-color: #305891;
        color: white;
    }

    &__link_tw {
        background-color: #2ca8d2;
        color: white;
    }

    &__link_google {
        background-color: #c72e0b;
        color: white;
    }

}